<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="style/check.css">
    <link rel="stylesheet" href="style/responsive/check-responsive.css">

    <!--Fuente icons -->
    <script src="https://kit.fontawesome.com/c79e37d273.js" crossorigin="anonymous"></script>
    <title>IMEI check</title>
</head>

<body>

    <header class="head-container">
        <nav class="nav">
            <img src="img/logo turbosimexpress.png" alt="Logo" class="logo">

            <input type="checkbox" id="check1" style="display: none;">
            <label for="check1" class="check-btn">
            <i class="fa-solid fa-bars"></i></label>

            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="imsi.html">Imsi</a></li>
                <a href="iccid.html"><li>Iccid</li></a>
                <a href="check.html"><li class="imeiCheckerBTN">Chequeo IMEI Gratis</li></a>
            </ul>

            <!-- <div class="Login">
                <div class="Perfil"><label></label></div>
                <label>cliente</label>
            </div> -->

        </nav>
    </header>


    <main id="check">
        <!-- <div class="anuncio"></div> -->
        <div class="loading">
            <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <div class="container-inf">
            <label for="" class="container-inf__titulo">chequeo de IMEI check gratis</label>
            <label class="container-inf__text">Verifique su IMEI gratis para saber la compañia de su telefono IPhone</label>
        </div>

        <div class="container-verificacion">
            <input type="number" v-model="imei">
            <button @click="CheckImei"><label for="radio1">verificar</label></button>
        </div>

        <!-- tabla -->
        <div class="container-table" style="">
            <div class="container-table__titulo">
                <h1>IMEI Data</h1>
                <h8 class="IMEIMessage"></h8>
            </div>
            <ul v-if="status" class="operador-table">
                <li>
                    <span>Modelo: </span>
                    <div>{{ImeiData.model}}</div>
                </li>

                <li>
                    <span>IMEI: </span>
                    <div>{{ImeiData.imei}}</div>
                </li>

                <li>
                    <span>IMEI 2: </span>
                    <div>{{ImeiData.imei2}}</div>
                </li>

                <li>
                    <span>Numero de serie: </span>
                    <div>{{ImeiData.serial}} </div>
                </li>

                <li>
                    <span>Fecha de Compra: </span>
                    <div>{{ImeiData.estPurchaseDate}}</div>
                </li>

                <li>
                    <span>ID: </span>
                    <div>{{ImeiData.nextId}}</div>
                </li>

                <li>
                    <span>Operador: </span>
                    <div>{{ImeiData.carrier}}</div>
                </li>

                <li>
                    <span>Pais: </span>
                    <div>{{ImeiData.country}}</div>
                </li>

                <li>
                    <span>Desbloqueado: </span>
                    <div v-if="ImeiData.simlock">No</div>
                    <div v-else>Si</div>
                </li>
            </ul>
            
            <div class="button_table">
                <button @click="ControlImeiData">
                    <label for="radio2">cerrar</label>
                </button> 

                <button v-if="status" @click="CopyText">
                    <label for="radio2">Copy inf.</label>
                </button>
            </div>

        </div>

    </main>

    <footer>
        <div class="copyright">
            Copyright © 2020-2022 Flyer Express. All Rights Reserved. Terms & Conditions, Refund Policy
        </div>
    </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="js/imei.js"></script>

</html>