* {
    padding    : 0%;
    margin     : 0%;
    box-sizing : border-box;
    font-family: sans-serif;
    transition : all 300ms ease;
}

.d-flex {

    display: flex;

}

.check-btn {
    display  : none;
    float    : left;
    font-size: 30px;
}

#check {
    display: none;
}

.nav {
    display        : flex;
    justify-content: space-between;
    padding        : 0% 2%;
    align-items    : center;
    height         : 60px;
    color          : #212121;
    font-family    : RobotoLight;
    box-shadow     : rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.nav .logo {

    width : 6%;
    cursor: pointer;

}

.nav-logo {

    display    : flex;
    align-items: center;

}

.nav ul {
    display        : flex;
    width          : 100%;
    justify-content: center;
    list-style     : none;
    gap            : 50px;
}

.nav ul a li {
    font-family: Roboto;
    cursor     : pointer;
    font-size  : 18px;
    padding    : 10px;

}
.nav ul a  {
    text-decoration: none;
    color: currentColor;
}

.nav ul li span {
    font-family: RobotoLight;
}

.nav ul li:hover {
    text-decoration: underline;
    text-align     : center;
}

.imeiCheckerBTN {
    background   : #ffcdd2;
    border-radius: 10px;
}

.imeiCheckerBTN a {
    text-decoration: none;
    color          : #b71c1c;
}


/*nav Login*/
.Login {

    display       : flex;
    align-items   : center;
    gap           : 10px;
    text-transform: capitalize;
    font-weight   : bold;

}

.Perfil {
    height          : 45px;
    width           : 45px;
    border          : 3px solid rgb(54, 8, 8);
    border-radius   : 50%;
    background-color: gray;
    cursor          : pointer;
}

.Login label {
    cursor: pointer;
}



/*Intro*/

.Intro {
    margin    : 1% auto;
    min-height: 20vh;
    width     : 100%;
    margin    : 50px 0px 50px;
}

.Intro-titulo {

    text-align    : center;
    width         : 100%;
    text-transform: capitalize;

}

.Intro-titulo h1 {

    font-weight   : bold;
    font-size     : 35px;
    letter-spacing: 0.5px;

}

.Intro-titulo p {

    font-size     : 25px;
    letter-spacing: -0.5px;
    margin-top    : 15px;

}

.anuncio {

    width           : 70%;
    height          : 200px;
    background-color: gray;
    margin          : 2% auto;
    border-radius   : 8px;


}


.container-carrusel {
    padding: 0% 2%;
}


.carrusel_titulo {
    text-transform: capitalize;
    font-size     : 25px;
    border        : 3px solid grey;
    border-bottom : 0.5px solid grey;
}

.carrusel {
    display    : flex;
    align-items: center;
    gap        : 1rem;
    border     : 3px solid grey;
    padding    : 1% 2%;
}

.componente {
    gap          : 25px;
    border       : 3px solid grey;
    border-radius: 15px;
    padding      : 0.5%;
    flex-wrap    : nowrap;
}


.componente-inf {
    gap            : 20px;
    display        : flex;
    flex-flow      : column wrap;
    justify-content: center;
    align-items    : center;
}

.componente img {
    width        : 45%;
    border-radius: 20px;
    padding      : 2%;
}

.componente-inf__titulo label {
    text-transform: capitalize;
    font-weight   : bold;
    font-size     : 25px;
}

.componente-inf__subtitulo {
    display       : flex;
    flex-direction: column;
    gap           : 3px;
    align-items   : baseline;
}


.componente-inf__subtitulo label {
    text-transform: capitalize;
}


.componente-inf__subtitulo label span {
    text-transform: capitalize;
    font-weight   : bold;
}


.titulo {
    width      : 100%;
    font-family: robotoBold;
    text-align : center;
    margin-top : 5%;
}

.container-item {
    display              : grid;
    grid-area            : 22rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr));
    padding              : 3;
    width                : 85%;
    margin               : 0% auto;
}

.item {
    display      : flex;
    height       : 180px;
    padding      : 10px;
    margin       : 10px;
    border-radius: 10px;
    box-shadow   : rgba(0, 0, 0, 0.12) 0px 1px 3px 0px, rgba(27, 31, 35, 0.25) 0px 0px 0px 1px;
}

.item img {
    width        : 45%;
    max-width    : 200px;
    border-radius: 18px;
}

.item-inf {
    display       : flex;
    flex-direction: column;
    gap           : 8px;
    width         : 55%;
    height        : 180px;
}

.item-inf__titula {
    margin     : 0 auto;
    font-family: roboto;
}

.item-inf__titula span {
    font-size  : 25px;
    font-family: roboto;
}

.item-inf-subtitula {
    display       : flex;
    flex-direction: column;
    gap           : 3px;
    margin-bottom : 1rem;
    font-family   : roboto;
    margin-left   : 10px;
}

.item-inf-subtitula span {


    font-weight   : bold;
    text-transform: capitalize;

}

.item-inf-subtitula label {


    text-transform: capitalize;

}

.displonible {

    text-align : right;
    align-items: flex-end;
    color      : green;

}


/*error*/




.container-carrusel2 {
    display       : flex;
    flex-direction: column;
    gap           : 8px;
    padding       : 0 0.5%;
}

.container-carrusel2__titulo {
    font-weight   : bold;
    font-size     : 25px;
    text-transform: capitalize;
}

.carrusel2 {
    display: flex;
    gap    : 8px;
    padding: 0 1%;
}

.carrusel2-componentes {
    gap      : 15px;
    height   : 200px;
    flex-wrap: nowrap;
    width    : 800px;
}

.carrusel2-componentes img {
    width        : 50%;
    border-radius: 40px;
    padding      : 3%;
}

.carrusel2-text {
    display  : flex;
    flex-flow: nowrap row;
    gap      : 30px;
}

.carrusel2-text_inf {
    display       : flex;
    flex-direction: column;
    flex-wrap     : wrap;
    gap           : 6px;
}

.carrusel2-text__titulo {
    font-size     : 28px;
    font-weight   : bold;
    text-transform: capitalize;
    font-style    : italic;
}

.carrusel2-text__subtitulo {
    font-size     : 15px;
    text-transform: capitalize;
    margin-left   : 3%;
}


.carrusel2-text_estrellita {
    display    : flex;
    align-items: flex-end;
    height     : 200px;
}

.container-descripcion {
    margin: 0% auto;
    width : 90%;
}

.container-descripcion label {
    font-size     : 25px;
    padding       : 8px;
    font-family   : robotoBold;
    text-transform: capitalize;
}

.descripcion-inf ul {
    padding            : 0.5% 1%;
    overflow           : hidden;
    list-style-position: inside;
    font-size          : 28px;
    list-style         : none;
    padding            : 10px;
}

.descripcion-inf ul li {
    text-align : justify;
    margin     : 1.5% 0;
    font-family: robotoLight;
    font-size  : 22px;
}

.container-operador {
    position: relative;
}

.operador {
    display        : flex;
    padding        : 15px;
    justify-content: space-around;
}

.contenedor {
    text-align        : center;
    text-transform    : capitalize;
    background        : lightgray;
    padding           : 0.5% 1%;
    border-radius     : 8px;
    box-shadow        : 0px 0px 15px 6px rgba(0, 0, 0, 0.69);
    -webkit-box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.69);
    -moz-box-shadow   : 0px 0px 15px 6px rgba(0, 0, 0, 0.69);
}

.contenedor h3 {
    margin-bottom : 25px;
    letter-spacing: 1px;
}

.operador table {
    width: 100%;
}

.operador-example-container {
    align-self   : center;
    padding      : 15px;
    border-radius: 4px;
    overflow     : hidden;
    box-shadow   : rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width        : 50%;
}

.operador-example-container h3 {
    text-align : center;
    padding    : 10px;
    font-family: roboto;
}

.operador-table {
    list-style: none;
}

.operador-table li {
    padding        : 13px;
    display        : flex;
    justify-content: space-between;
    border-bottom  : 1px solid rgb(221, 221, 221);
    font-family    : roboto;
    text-align: right;
}

.operador-table li div {
    text-align: right;
}

.operador-table li span {
    font-family: roboto;
}


.operador table th {
    text-transform: capitalize;
    font-size     : 14px;
    text-align    : left;
    width         : 50%;

}



.operador table td {
    font-size : 13px;
    text-align: end;
}


.operador-inf {
    display    : flex;
    flex-flow  : column wrap;
    gap        : 60px;
    align-items: center;
    margin     : auto 0px;
    width      : 100%;

}

.operador-inf h1 {
    font-style    : italic;
    font-size     : 65px;
    text-transform: capitalize;
}

.operador-inf p {
    text-align: center;
    font-size : 25px;
    width     : 65%;
}

.operador-inf__buttoms {
    display        : flex;
    justify-content: space-between;
    width          : 38%;
}

.operador-inf__buttoms {
    width          : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    gap            : 50px;
}


.operador-inf__buttoms button {
    text-align    : center;
    font-weight   : bold;
    border-radius : 15px;
    border        : 3px solid gray;
    width         : 180px;
    height        : 70px;
    text-transform: capitalize;
    cursor        : pointer;
}

.operador-inf__buttoms button:hover {
    color     : white;
    border    : 2px solid black;
    background: darkred;
    transition: all 0.8s;
}

.operador-inf__estadisticas {
    display        : flex;
    flex-flow      : wrap nowrap;
    justify-content: center;
    gap            : 16px;
    padding        : 1% 2%;
    width          : 80%;
    min-height     : 20vh;
    background     : #b71c1c;
    margin         : 2% auto;
    color          : lightgrey;
    border-radius  : 10px;
    border         : 2px solid black;

}

.operador-inf__estadisticas hr {
    border       : 0.5px solid rgba(0, 0, 0, 0.493);
    border-radius: 6rem;

}

.operador-inf__estadisticas div {

    text-align: center;
    margin    : auto 0%;
    width     : 100%;
}

.operador-inf__estadisticas label {
    font-size: 25px;
}


.operador-inf__estadisticas p {
    width         : 100%;
    font-size     : 15px;
    font-family   : roboto;
    text-transform: capitalize;
}




/*lista*/

.container-ListaPrecio{
    position: fixed;
    display: none;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100%;

    background: rgba(0, 0, 0, 0.9);
    padding: 2% 0;
    overflow: auto;
}

.listaprecio{
    margin: 0 auto;
    width: 80%;
    background: white;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0) 0px 1px 0px inset;
    overflow: hidden;
    border-radius: 8px;
}

.listaprecio_titulo,.listaprecio_subtitulo{
    display: flex;
    justify-content: space-between;
}

.listaprecio_titulo span,.listaprecio_subtitulo span{
    width: 80%;
    padding: 0% 2%;
    text-align: left;
}

.listaprecio_titulo{
    background: rgba(0, 0, 0, 0.4);
    padding: 0% 2%;

}

.listaprecio_titulo label{
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
    overflow: hidden;
    width: 20%;
    text-align: center;
    
}

.listaprecio_subtitulo{
    border-bottom: 4px solid grey;
    padding: 0% 2%;
    
}

.listaprecio_subtitulo label{
    font-size: 25px;
    width: 20%;
    text-align: center;
    
}

/*button*/

.container-ListaPrecio button{
    margin: 2% 50%;
    width: 135px;
    height: 60px;
    font-size: 25px;
    color: white;
    background: darkred;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 24px;
    cursor: pointer;
}

.container-ListaPrecio button label{
    cursor: pointer;
}

.container-ListaPrecio button:hover{
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.9);
    border: 3px solid rgba(255, 0, 0, 0.8);
}


/*footer*/
footer {
    padding   : 0% 0% 1%;
    border-top: 2px solid #b71c1c;
    background: #212121;
    color     : white;
}

.footer-container {
    display        : flex;
    justify-content: space-around;
    align-items    : flex-start;
    padding        : 10px 0px;
    width          : 100%;
}

.copyright {
    text-align    : center;
    color         : white;
    font-size     : 13px;
    padding       : 25px;
    font-family   : roboto;
}

